<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <script src="/scripts/script.js" defer></script>
    <script src="/socket.io/socket.io.js"></script>



    <title>plant swap</title>
</head>

<body>
    <header>
        <img src="/images/PlantSwap-logo-green 2.png" alt="plant swap logo" widht="150" hight="150">
        <picture>
            <source media="/" srcset="/" />
            <source srcset="foto.webp" type="image/webp" />
        </picture>
    </header>